
#skills_section{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-shadow: 0px -20px 25px -2px var(--color-shadow);
}

.srv #header {
    position: absolute;
    z-index: 1001;

    margin-top: 4vh;
    text-align: center;
    font-size: 42px;
    color: var(--color-text);
}

.links-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#lc1 {
    background-color: #51B847;
    background-image: url(/public/assets/images/logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
#lc2 {
    background-color: white;
    background-image: url(/public/assets/images/lumoavajasmin-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#lc3 {
    background-color: #6505e2;
    background-image: url(/public/assets/images/proveit-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.links-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(32vw + (32vw * 0.017));
    margin: 0;
    background: var(--color-tezt);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}


.linksto {
    color: var(--color-text);
    text-align: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-size: 22px;
}

.links-content:hover {
    z-index: 0;
    width: 34vw;
    box-shadow: 0px 60px 40px 60px var(--color-shadow);
}

.links-content.hovered#lc2  {
    z-index: 0;
    width: 34vw;
    box-shadow: 0px 60px 40px 60px var(--color-shadow);
}

@media (max-width: 720px) {
    .links-section {
        grid-template-columns: auto;
    }
    .links-content {
        width: 100vw;
        margin: 0; 
    }
    .links-content:hover {
        z-index: 10;
        width: 100vw;
        box-shadow: 0px 60px 40px 60px var(--color-shadow);
    }
    
    .links-content.hovered#lc2  {
        z-index: 10;
        width: 100vw;
        box-shadow: 0px 60px 40px 60px var(--color-shadow);
    }
}

@media (max-width: 555px) {
    .srv {
        position: relative;
        top: auto;
        height: 100vh;
    }

}

@media (max-height: 635px) {
    .srv{
        position: relative;
        top: auto;
        height: 100vh;
    }
}
