.BTM_L {
    display: flex;
    width: 100px;
    height: 8vh;
    margin: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 200ms ease-in-out;
}
#BTM_L_arrowleft {
    position: relative;
    left: 65px;
    transition: 200ms ease-in-out;
}
.BTM_L h2 {
    position: relative;
    color: var(--color-text);
    margin-left: 10%;
    white-space: nowrap;
    left: -200px;
    transition: 1000ms ease-in-out;
    opacity: 0;
}
.BTM_L:hover > #BTM_L_text, .BTM_L:hover > #BTM_L_arrowleft {
    display: block;
    opacity: 100;
    left: 0;
}
.BTM_L:hover {
    display: flex;
    width: 250px;
    height: 8vh;
    border-radius: 15px;
    border: 2px solid var(--color-text);
}