.navibar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    width: 100%;
    height: 8vh;
    padding: 2rem 4rem;
    background: var(--color-darkBlue);
}
.navibar-links {
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.nav-options{
    display: flex;
}

.navibar-links_logo {
    z-index: 1001;
    font-family: 'sans-serif';
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0;
    color: var(--color-text);
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    margin-right: 1rem;
}

.nav-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 8vh;
    color: var(--color-text);
    
}

.nav-item #navA {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;

    margin: 1rem;
    cursor: pointer;
	border-radius: 2px;
	
	padding: 6px 10px;
	text-decoration: none;
    transition: 0.2s ease-in;
    white-space: nowrap;
    border: var(--color-darkBlue) solid 2px;
}

.nav-item #navA.git {
    font-weight: 800;
    font-size: 18px;
    color: var(--color-text);
    border: #FFFFFF solid;
}

.nav-item #navA:hover {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text);
    text-shadow: none;
    border-radius: 20px;
    border: #FFFFFF solid 2px;
}

.nav-item #navA.git:hover {
    font-size: 18px;
    font-weight: 800;
    color: var(--color-text);
    text-shadow: none;
    border-radius: 20px;
    border: #FFFFFF solid;
}

.SMenuBtn{
    display: none;
}



/*---------------------Mobile----------------------*/
@media (max-width: 800px) {
    .navibar {
        padding: 2rem;
        justify-content: space-between;
    }

    .navibar-links {
        justify-content: space-between;
    }
    .navibar-links_logo {
        position: static;
    }
    .nav-items {
        display: flex;
        position: fixed;
        z-index: 999;
        
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        
        background-color: var(--color-darkshadow);
        opacity: 0;
        transform: translateY(calc((-100%)));
        transition: transform 500ms ease-in-out;
    }

    .nav-items.active {
        display: flex;
        position: fixed;
        z-index: 999;
        
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        
        background-color: var(--color-darkshadow);
        opacity: 1;
        transform: translateY(calc((0%)));
        transition: transform 500ms ease-in-out;
    }

    .nav-options{
        flex-flow: column;
    }

    .nav-item {
        border-radius: 7px;
        padding: 0px ;
        margin: 0;
        height: 100%;

        color: var(--color-text);
        text-shadow: none;
        transition: all 400ms ease 0s;
    }

    .nav-item #navA {
        font-weight: 500;
        font-size: 24px;
        margin: 0;
        border-radius: 2px;
        padding: 2rem 100vh;
        
        cursor: pointer;
        transition: 0.2s ease-in;
        white-space: nowrap;
    }

    .nav-item #navA.git {
        font-weight: 800;
        font-size: 24px;
        color: var(--color-text);
    }

    .nav-item #navA:hover {
        font-size: 24px;
        font-weight: 500;
        background-color: var(--color-sttext);
    }

    .nav-item #navA.git:hover {
        font-size: 24px;
        font-weight: 800;
        background-color: var(--color-sttext);
    }


    .SMenuBtn {
        display: flex;
    }
    #MenuButton {
        display: flex;
        border: none;
        z-index: 1001;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        color: #FFFFFF;
    }
    #NoneMenuButton {
        display: none;
    }
    #CloseButton {
        display: flex;
        border: none;
        z-index: 1001;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        color: #FFFFFF;
    }
    #NoneCloseButton {
        display: none;
    }
}