#Features-section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;
    box-shadow: 0px -20px 25px -2px var(--color-shadow);
    background: linear-gradient(#000240, #000000);
}

.Features-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Features-header {
    text-align: start;
    margin-right: 1rem;
    font-size: 42px;
    color: var(--color-text);
}

.Features-content img {
    position: absolute;
    right: 10%;
}

.Feature-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100px;
    margin: 1rem 2rem;
    padding: 2rem;
    border: 2px solid var(--color-lightBlue);
    border-radius: 50px;
    transition: 200ms ease-in;
    cursor: pointer;
}

.Feature-Button:hover {
    background: var(--color-lightBlue);
    margin-top: 10px;
}
@media (max-width: 700px) {
    .Feature-Button {
        width: 90%;
    }
    .Features-content img {
    position: absolute;
    right: -20%;
}
}