#BTC-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(circle at 100% -40%, #fefaedaa 56%, var(--color-darkBlue) 2%, var(--color-Blue) 100%);
}

#BTC-section #header {
    text-align: center;
    font-size: 42px;
    color: var(--color-darkBlue);
    margin-top: 70px;
}
.BTC-content {
    display: flex;
    flex-flow: column;
    padding: 2rem;
}
.text-cntr {
    padding: 2rem;
    border-radius: 20px;
    margin-top: 30px;
    background: var(--color-darkBlue);
    width: 60%;
    border-bottom-left-radius: 0;
}
.BTC-text {
    font-size: 22px;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--color-text);
    text-shadow: 2px 2px 2px var(--color-shadow);
}
#Bo2 {
    margin-top: 30px;
    margin-left: 40%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
}
@media (max-width: 645px) {
    .BTC-content {
        flex-flow: column;
        padding: 0;
        align-items: center;
    }
    .text-cntr {
        height: 100%;
        width: 90%;
        margin: 50px 0;
    }
    #Bo2 {
        margin-left: 0;
    }
}